@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
/* Colors */

/* Primary */

--Orange: hsl(25, 97%, 53%);

/* Neutral */

--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Very-Dark-Blue);
}

.result {
    display: none;
}

.main-container {
    max-width: 370px;
    margin: 0 auto;
    height: 97vh;
    display: grid;
    place-items: center;
}

.card-container {
    width: 370px;
    background-color: var(--Dark-Blue);
    padding: 1.3rem;
    font-family: 'Overpass';
    font-size: 15px;
    border-radius: 1rem;
}

.icon-star {
    background-color: hsl(216, 12%, 8%, 0.5);
    padding: 1rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.card-container h1 {
    color: var(--White);
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.card-container p {
    color: var(--Light-Grey);
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.rateing-number {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.number-button input[type="radio"] {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.number-button input[type="radio"]::after {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: var(--Very-Dark-Blue);
    pointer-events: none;
}

.number-button input[type="radio"]:checked::after {
    background-color: var(--Light-Grey);
}

.number-button input[type="radio"]:checked ~ label {
    color: var(--White);
}

.number-button label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: var(--Medium-Grey);
}

.submit-button {
    display: block;
    width: 100%;
    padding-block: 1rem;
    background-color: var(--Orange);
    border-radius: 2rem;
    color: var(--White);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.2s linear;
}

.number-button input[type="radio"]:hover::after {
    background-color: var(--Orange);
    transition: 0.2s linear;
}

.number-button input[type="radio"]:hover ~ label {
    color: var(--White);
}

.submit-button:hover {
    background-color: var(--White);
    color: var(--Orange);
    transition: 0.2s linear;
    cursor: pointer;
}

.attribution {
    font-size: 13px;
    text-align: center;
    color: var(--White);
  }

  .attribution a {
    color: var(--Orange);
  }